.desktop_only {
    display: none;
}

.mobile_only {
    display: inline;
}

#main_div {
    width: 95%;
}

#snake_canvas {
    width: 95%;
}

.section {
    -webkit-box-sizing: border-box; /* Safari/Chrome */
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box;
    width: 95%;
}

.section_title {
    width: 90%;
}
